/* header 圖片 */
.header::before {
    background-image: url('../img/hamster8.jpg');
}

/* 如果加上綜合rwd */
.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
}
.g-col-xs-2 { grid-column: span 2; }
.g-col-xs-3 { grid-column: span 3; }
.g-col-xs-4 { grid-column: span 4; }
.g-col-xs-6 { grid-column: span 6; }
.g-col-xs-8 { grid-column: span 8; }
.g-col-xs-12 { grid-column: span 12; }
@media (min-width: 768px) {
    .g-col-m-2 { grid-column: span 2; }
    .g-col-m-3 { grid-column: span 3; }
    .g-col-m-4 { grid-column: span 4; }
    .g-col-m-6 { grid-column: span 6; }
    .g-col-m-8 { grid-column: span 8; }
    .g-col-m-12 { grid-column: span 12; }
}
@media (min-width: 1024px) {
    .g-col-mx-2 { grid-column: span 2; }
    .g-col-mx-3 { grid-column: span 3; }
    .g-col-mx-4 { grid-column: span 4; }
    .g-col-mx-6 { grid-column: span 6; }
    .g-col-mx-8 { grid-column: span 8; }
    .g-col-mx-12 { grid-column: span 12; }
}

/* main */
.main {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
/* 倉鼠的內容大包裝 */
.main-species {
    background-color: #fff;
    padding: 2rem;
    overflow: hidden;
    border-radius: 1%;
    margin-bottom: 2rem;
}

/* 大圖片&小圖片通用 */
.big-img {
    width: 100%;
    border-radius: 3%;
}
.small-img {
    width: 100%;
}

/* 倉鼠名稱 + 三格資訊 */
/* 螢幕變寬要移動到圖片右邊 */
.species-info {
    margin: 1.5em 0;
}

.species-info-content h3 {
    font-size: 1.5em;
}

.species-info-content-name {
    color: var(--color-wood);
    margin-bottom: 0.5rem;
}

.species-info-content {
    margin-bottom: 1rem;
}

/* 三條併排的倉鼠資訊 */
/* 改成.grid -> .grid-col-xs-4 */
.species-info-grid-block {
    background: rgba(239, 237, 230, 0.6);
    border: 1px solid rgba(193, 162, 110, 0.25);
    border-radius: 5%;
    padding: 0.5rem;
}

.species-info-grid-block p {
    font-size: 0.85em;
}

@media (min-width: 768px) {
    .species-info-flex {
        display: flex;
        margin-bottom: 1rem;
    }
    .species-info-flex img {
        width: 50%;
    }
    .species-info {
        margin: 0 0 0 1.5em;
        text-align: left;
    }
}

@media (min-width: 1024px) {
    .species-info-img {
        width: 50%;
    }
    .species-info-grid {
        width: 30%;
    }
}


/* 中間的鼠鼠資訊區 */
.species-detail {
    /* padding: 0.5rem 0; */
    border-top: 5px dotted var(--color-wood);
    border-bottom: 5px dotted var(--color-wood);
    margin: 0.5rem;
}

.species-detial-block {
    padding: 1rem;
    border-top: 2px solid var(--color-text);
    border-bottom: 2px solid var(--color-text);
    margin: 1rem;
}

/* 螢幕變寬可以變成並排 */
@media (min-width: 1024px) {
    .species-detail {
        display: flex;
        justify-content: space-around;
        margin: 0.5rem 2rem;
    }
}


/* 切換圖片&影片區按鈕 */
/* .species-nav {
    text-align: center;
} */
.species-nav ul {
    display: flex;
    /* justify-content: center; */
    list-style: none;
    background-color: var(--color-wood);
    opacity: 75%;
    padding: 0 0.5rem;
    border-top: 5px solid var(--color-wood);
    margin-top: 1rem;
}
.species-nav-bottom {
    width: 100px;
    text-align: center;
    padding: 0.5rem 1rem;
    border-bottom: 0;
    margin: 0 0.5rem;
    transition-duration: 0.3s;
}
.species-nav-bottom a {
    text-decoration: none;
    color: var(--color-text);
    font-weight: 700;
    font-size: 1.1em;
}
.species-nav-bottom:hover {
    background-color: rgba(239, 237, 230);
    border: 3px solid var(--color-text);
    border-bottom: 0;
    border-radius: 10% 10% 0% 0%;
    box-shadow: 
        2px -2px 2px,
        -2px -2px 2px;
}

.present-nav-bottom {
    background-color: rgba(239, 237, 230);
    border: 3px solid var(--color-text);
    border-bottom: 0;
    border-radius: 10% 10% 0% 0%;
}

/* 中間圖片區 */
/* 可以加個js來切換大圖片 */
.species-img {
    background-color: rgba(239, 237, 230);
    padding: 0.5rem;
    transition-duration: 1s;
}

.species-img-big {
    position: absolute;
    /* display: flex; */
    /* justify-content: center; */
}

.species-img-big-border {
    position: relative;
    left: -5%;
    width: 80%;
    padding: 0.5rem;
    border: 3px solid var(--color-wood);
    border-radius: 3%;
    margin: 0 auto;
    background-color: rgba(239, 237, 230);
    z-index: 9;
}

.species-img-big-info {
    display: flex;
    flex-direction: column;
}
.species-img-big-info-p {
    align-self: center;
}
.species-img-big-info-a {
    align-self: flex-end;
    font-size: 0.5em;
    border-bottom: 1px solid var(--color-text)
}
.species-img-big-info-a a {
    text-decoration: none;
}

.close-bottom {
    position: absolute;
    right: 0;
    top: 0;
    /* font-size: 1em; */
    font-weight: 900;
    background-color: var(--color-wood);
    padding: 0 0.5rem;
    border: 2px solid var(--color-text);
    border-radius: 50%;
}
.close-bottom:hover {
    background-color: var(--color-text);
    color: var(--color-wood);
}

.cover {
    position: absolute;
    /* width: 100%; */
    /* height: 100%; */
    width: 100vw;
    height: 350vh;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 30%;
    /* filter: blur(5px); */
    /* backdrop-filter: blur(10px); */
}

.img-bottom {
    padding: 0.5rem;
    overflow: hidden;
    transition-duration: 0.5s;
    filter: invert(0.1);
    /* filter: sepia(0); */
}
.img-bottom:hover {
    overflow: hidden;
    padding: 0;
    filter: invert(0);
    /* filter: sepia(0.3); */
}

@media (min-width: 768px) {
    .species-img-big-border {
        width: 50%;
        /* left: 20%; */
        padding: 1rem;
    }
}

@media (min-width: 1024px) {
    .species-img-big-border {
        left: 0;
    }
    /* .species-img-big-info {
        margin: 2rem 0;
    } */
}

/* 中間影片區 */
.species-video-block {
    background-color: #fff;
    padding: 1rem;
    border-radius: 5%;
}

.species-video-block img {
    width: 100%;
    /* height: 30%; */
    border-radius: 5%;
    overflow: hidden;
    opacity: 75%;
}

.species-video-info {
    color: var(--color-text);
}

/* 中間圖片&影片切換 */
.species-hidden {
    display: none;
    position: absolute;
}

/* 最底下的按鈕 */
.bottom {
    text-align: center;
}
.bottom a {
    text-decoration: none;
    /* font-size: 1.2em; */
    background-color: var(--color-wood);
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 10%;
    margin: 1rem;
    transition-duration: 0.25s;
}

.bottom a:hover {
    font-weight: 700;
    background-color: var(--color-text);
}

.bottom-back:hover {
    padding: 0.5rem 1.5rem;
    margin: 1rem 1.5rem;
    
}