/* header 圖片 */
.header::before {
    background-image: url('../img/hamster10.webp');
}

/* header高度調整(短一點) */
/* .header {
    height: 20vh;
} */
 .header-background {
    padding: 0 0.5rem;
 }
.header-title {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .header-background {
        width: 60%;
        padding: 0.5rem 1rem;
    }
    .header {
        height: 20vh;
    }
}
@media (min-width: 1024px) {
    .header-background {
        padding: 0.5rem 1.5rem;
    }
    .header {
        height: 20vh;
        padding: 2rem 3rem;
    }
}


/* main */
.main {
    padding-bottom: 2rem;
}

/* 第一區-倉鼠簡介 */
.main-info {
    /* position: relative; */
    height: 40vh;
    text-align: center;
    background-color: var(--color-secondary);
    padding: 1rem;
    /* border-radius: 10% / 20%; */
    /* margin-bottom: 2rem; */
}
.main-info-p {
    /* font-size: 1.2rem; */
    font-weight: 500;
}
.main-info:hover .main-info-p {
  animation-name: weee;
  animation-duration: 0.5s;
}

.main-info-imgbar {
    position: relative;
    height: 140px;
}
.main-info-intro {
    display: flex;
    justify-content: space-around;
    padding: 1.5rem 0 0 2rem;
}
.intro-p {
    position: relative;
    padding: 0.5rem;
    background-color: #fff;
    border-radius: 20%;
}
.intro-p::before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    bottom: -8px;
    left: 20px;
    border-width: 5px;
    border-color: rgb(255, 255, 255) #fff0 #fff0 rgb(255, 255, 255);
    border-style: solid;
}
.main-info-img {
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
}
.running-hamster {
    width: 20%;
    border-radius: 10%;
}

@media (min-width: 768px) {
    .main-info {
        height: 50vh;
    }
    .main-info-imgbar {
        height: 190px;
    }
}
@media (min-width: 1024px) {
    .main-info-p {
        font-size: 1.2rem;
    }
    .intro-p {
        font-size: 1.2rem;
    }
    .main-info-imgbar {
        height: 250px;
    }
    .main-info {
        height: 55vh;
    }
}

/* 切換表單&數據區按鈕 */
.main-nav ul {
    /* width: 50%; */
    display: flex;
    justify-content: center;
    list-style: none;
    background-color: #fff;
    /* opacity: 75%; */
    padding: 0 0.5rem;
    border-top: 10px solid #fff;
    border-bottom: 5px solid var(--color-text);
    /* border-radius: 20% 20% 0 0 / 10%; */
    /* margin: auto; */
    margin-top: 1rem;
}
.main-nav-bottom {
    background-color: var(--color-secondary);
    width: 150px;
    text-align: center;
    padding: 0.5rem 1rem;
    border: 5px solid var(--color-text);
    border-bottom: 0;
    border-radius: 10% 10% 0% 0%;
    margin: 0 0.5rem;
    transition-duration: 0.5s;
}
.main-nav-bottom a {
    text-decoration: none;
    color: var(--color-text);
    font-weight: 700;
    font-size: 1.1em;
}

.present-nav-bottom {
    background-color: #fff;
    /* border: 5px solid var(--color-text); */
    /* border-bottom: 0; */
}


/* 表單 */
.survey {
    display: block;
    width: 100%;
    background-color: #fff;
    text-align: center;
    padding: 1rem 0.5rem;
}
.survey-form {
    padding: 1rem;
    gap: 20px;
}
.form-hamster-type {
    background-color: var(--color-secondary);
    padding: 10px;
    border: 1px solid var(--color-wood);
    border-radius: 5%;
    transition-duration: 0.5s;
    cursor: pointer;
}
.form-hamster-type:hover {
    padding: 6px;
    border-width: 5px;
}
.now-hamster-type {
    position: relative;
    padding: 6px;
    border-width: 5px;
}
.now-hamster-type::after {
    content: url(../img/hand.png);
    position: absolute;
    right: -10px;
    bottom: -10px;
    rotate: -45deg;
}

.form-hamster-img {
    height: 100px;
    background-color: #fff;
    border-radius: 10% / 20%;
}
.form-running-hamster {
    width: 80%;
}

/* 輸入框區 */
.survey-intput {
    display: flex;
    position: relative;
}
.survey-intput-img {
    width: 80%;
}
input {
    position: absolute;
    top: 30%;
    right: 10%;
    font-size: 1.5rem;
    text-align: center;
    border: 5px inset var(--color-wood);
}
.per {
    position: absolute;
    top: 30%;
    right: 2%;
    font-weight: 900;
    font-size: 1.5rem;
}

/* 完成按鈕 */
.bottom {
    text-align: center;
}
.form-bottom {
    display: inline-block;
    background-color: var(--color-wood);
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 2rem;
    border-radius: 5%;
    margin: 0.5rem;
}
.form-bottom:hover {
    background-color: var(--color-text);
}

@media (min-width: 768px) {
    .form-hamster-img {
        height: 85px;
    }
    .survey-intput-img {
        width: 60%;
    }
    input {
        right: 30%;
    }
    .per {
        right: 25%;
    }
}
@media (min-width: 1024px) {
    .form-hamster-img {
        height: 150px;
    }
    .survey-intput-img {
        width: 40%;
        margin-left: 8rem;
    }
    input {
        right: 35%;
        font-size: 2rem;
    }
    .per {
        right: 30%;
        font-size: 2rem;
    }
}

/* 數據 */
.survey-data {
    position: relative;
    padding: 1rem;
    border: 1px solid var(--color-text);
    margin-bottom: 1.5rem;
}
.hamster-data {
    height: 220px;
    /* vertical-align: bottom; */
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.data-line {
    width: 20px;
    height: 0px;
    background-color: var(--color-wood);
    margin: 0 auto;
    transition-duration: 0.5s;
}

/* 愛鼠濃度 */
.data-hamster-img {
    position: absolute;
    top: 0;
    left: 0;
    text-align: left;
    display: flex;
    flex-direction: row-reverse;
    padding: 0.5rem;
}
.hamster-img {
    width: 65px;
    height: 50px;
    /* background-color: green; */
    margin-right: 0.5rem;
}
.survey-hamster-img {
    /* padding-top: 0.5rem; */
    width: 100%;
}

@media (min-width: 768px) {
    .data-hamster-img {
        position: static;
        flex-direction: column;
        justify-content: center;
    }
    .hamster-img {
        width: 150px;
        height: 100px;
    }
    .hamster-img-header {
        margin: 0 0 1rem 1rem;
    }
}
@media (min-width: 1024px) {
    .hamster-img {
        width: 200px;
        height: 130px;
    }
    .hamster-img-header {
        font-size: 1.2rem;
        margin: 0 0 0.5rem 1rem;
    }
    .survey-data {
        padding: 1rem 2rem;
        margin: 0 0.5rem 1.5rem;
    }
}


/* 隱藏 */
.hide {
    display: none;
    position: absolute;
}