/* header 圖片 */
.header::before {
    background-image: url('../img/hamster8.jpg');
}


/* main */
/* 第一區-倉鼠簡介 */
.main-info-title {
    text-align: center;
    margin-bottom: 2rem;
}

.main-underline {
    width: 3em;
    position: relative;
    bottom: 1.5rem;
    border-bottom: 3px solid var(--color-wood);
    margin: 0 auto;
}

/* 第二區-常見的4種寵物倉鼠 */
.main-hamster-title {
    font-family: "Noto Sans TC", sans-serif;
    /* font-size: 2.5rem; */
    color: var(--color-text);
    text-align: center;
    padding: 2px 0;
    margin-bottom: 2rem;
}

/* 全部倉鼠的大包裝 */
.main-hamster-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}

@media (min-width: 1024px) {
    /* 變成一排兩行 */
    .main-hamster-grid {
        grid-template-columns: 1fr 1fr;
    }
}

/* 每一隻倉鼠的小包裝 */
.main-hamster-species {
    background-color: #fff;
    padding: 2rem;
    overflow: hidden;
    border-radius: 5%;
}

.species-img {
    width: 100%;
    border-radius: 5%;
    display: block;
}

/* 倉鼠名稱 */
/* 螢幕變寬要移動到圖片右邊 */
.species-info {
    margin: 1rem 0;
}

.species-info-header {
    margin-bottom: 0.5rem;
    text-align: center;
}

.species-info-header h3 {
    font-size: 1.5em;
}

.species-info-header-name {
    color: var(--color-wood);
}

.species-info-content, 
.species-grid {
    visibility: hidden;
    position: absolute;
}

/* 三條併排的倉鼠資訊 */
.species-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
    /* font-size: 1em; */
}

.species-grid-block {
    background: rgba(239, 237, 230, 0.6);
    border: 1px solid rgba(193, 162, 110, 0.25);
    border-radius: 5%;
    padding: 0.5rem;
}

.species-grid-block p {
    font-size: 0.85em;
}

@media (min-width: 768px) {
    .species-img {
        width: 35%;
    }
    .species-info-flex {
        display: flex;
        margin-bottom: 1rem;
    }
    .species-info {
        margin-left: 1rem;
    }
    .species-info-header {
        text-align: left;
    }
    .species-info-content, 
    .species-grid {
        visibility: visible;
        position: static;
    }
}

@media (min-width: 1024px) {
    .species-img {
        width: 50%;
    }
    .species-grid {
    /* 讓左右的框框對齊一下 */
        height: 5.5rem;
    }
}

/* 按鈕 */
.species-bottom {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.species-bottom-p {
    border-radius: 5%;
    /* margin: 1rem 0 0 0 ; */
    background: var(--color-wood);
}

.species-bottom-p a{
    text-decoration: none;
    color: #fff;
    padding: 0 0.5rem;
}

.species-bottom-p:hover {
    font-weight: 700;
    background-color: var(--color-text);
}

@media (min-width: 768px) {
    .species-bottom-p {
        margin: 1rem 0 0;
    }
}